.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section__left {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
}

.image {
  position: relative;
  width: 400px;
  height: 400px;
  z-index: -1;
}

.section__right {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.form input[type="text"] {
  margin-bottom: 12px;
}

.btn {
  margin-top: 12px;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .container {
    margin-top: 24px;
  }

  .image {
    position: relative;
    width: 250px;
    height: 250px;
    object-fit: cover;
  }
}

@media screen and (max-width: 640px) {
  .image {
    position: relative;
    width: 200px;
    height: 200px;
    z-index: -1;
  }
}
