.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
}

.logo {
  width: 200px;
  object-fit: cover;
}

.menus {
  display: flex;
  align-items: center;
  gap: 24px;
  list-style: none;
}
