.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
  position: sticky;
  top: 0;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  border-bottom: 1px solid var(--bg-soft);
  box-shadow: 0 0 4px 3px var(--bg-soft);
  z-index: 9999;
}

.containerScroll {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
  position: sticky;
  top: 1px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  border-bottom: 1px solid var(--primary);
  box-shadow: 0 0 4px 3px var(--primary-hover);
  background-color: var(--primary);
  animation: change__background_navbar 1s linear alternate;
  transition: all 0.1s linear;
  z-index: 9999;
}

@keyframes change__background_navbar {
  0% {
    background-color: var(--navbar);
  }

  100% {
    background-color: var(--primary);
  }
}

.logo {
  width: 200px;
  object-fit: cover;
}

.menus {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 24px;
}

/* Mobile */
.navbar__menu_mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  width: 50%;
  height: calc(100vh - 100px);
  position: absolute;
  right: 12px;
  top: 62px;
  border-radius: 12px 0 12px 12px;
  box-shadow: 0px 0px 24px 4px var(--primary);
  background-color: var(--primary);
  z-index: 9999;
  position: relative;
}

.menu__mobile {
  display: none;
}

.search__mobile {
  display: none;
}

.btn__logout {
  display: flex;
  align-items: center;
  gap: 6px;
}

.icon__exit {
  position: absolute;
  top: 12px;
  left: 12px;
  cursor: pointer;
}

.menu__mobile {
  cursor: pointer;
}

.menu__mobile:hover {
  opacity: 0.8;
}

.icon__exit:hover {
  opacity: 0.8;
}

@media screen and (max-width: 1024px) {
  .search {
    display: none;
  }

  .menus li,
  .menus .btn__logout {
    display: none;
  }

  .menu__mobile {
    display: block;
  }

  .navbar__menu_mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    width: 50%;
    height: calc(100vh - 100px);
    position: absolute;
    right: 18px;
    top: 58px;
    border-radius: 12px 0 12px 12px;
    box-shadow: 0px 0px 24px 4px var(--primary-hover);
    background-color: var(--primary-hover);
    z-index: 9999;
  }

  .navbar__menu_mobile li,
  .navbar__menu_mobile .btn__logout {
    display: block;
  }

  .navbar__menu_mobile .btn__logout {
    display: flex;
    align-items: center;
  }

  .navbar__menu_mobile .btn__logout:hover {
    background-color: var(--primary);
  }

  .admin {
    display: none;
  }

  .search__mobile {
    display: block;
  }

  .search___mobile__in_menu {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .menus li,
  .menus .btn__logout {
    display: none;
  }

  .menu__mobile {
    display: block;
  }

  .navbar__menu_mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    width: 50%;
    height: calc(100vh - 100px);
    position: absolute;
    right: 18px;
    top: 58px;
    border-radius: 12px 0 12px 12px;
    box-shadow: 0px 0px 24px 4px var(--primary-hover);
    background-color: var(--primary-hover);
    z-index: 9999;
  }

  .navbar__menu_mobile li,
  .navbar__menu_mobile .btn__logout {
    display: block;
  }

  .navbar__menu_mobile .btn__logout {
    display: flex;
    align-items: center;
  }

  .navbar__menu_mobile .btn__logout:hover {
    background-color: var(--primary);
  }

  .admin {
    display: none;
  }

  .search__mobile {
    display: block;
  }

  .search___mobile__in_menu {
    display: none;
  }
}

@media screen and (max-width: 640px) {
  .search__mobile {
    display: none;
  }

  .search___mobile__in_menu {
    padding: 0 10px;
    display: block;
  }
}
