:root {
  --primary: #1f8ee9;
  --primary-hover: #067ada;
  --text-primary: #ffffff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
}

a {
  color: inherit;
  text-decoration: none;
}
