.container {
  display: flex;
  gap: 40px;
}

.back__blog {
  display: flex;
  align-items: center;
  gap: 6px;
}

.back__icon {
  position: relative;
  width: 22px;
  height: 22px;
  object-fit: cover;
}

.back__icon:hover {
  opacity: 0.8;
}

.image {
  position: relative;
  width: 400px;
  height: 400px;
  object-fit: cover;
}

.section__right {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.info {
  display: flex;
  align-items: center;
  gap: 40px;
}

.avatar {
  position: relative;
  width: 62px;
  height: 62px;
  object-fit: cover;
}

.avatar img {
  border-radius: 50%;
}

.author {
  color: var(--text-desc);
  font-size: 16px;
  font-weight: 700;
}

.title__name,
.title__published {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.username {
  font-size: 12px;
  font-weight: 600;
}
