.container {
  padding: 12px;
}

.main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.name {
  font-size: 18px;
  font-weight: 700;
}

.reserved {
  font-size: 14px;
  font-weight: 600;
}

@media screen and (max-width: 475px) {
  .main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
  }
}
