.search {
  display: flex;
  align-items: center;
  position: relative;
}

.search__icon {
  position: absolute;
  top: 9px;
  right: 10px;
}

.search__inp {
  padding-right: 34px;
}

.search__inp_bg {
  color: var(--bg-soft);
  padding-right: 34px;
  border: 1px solid var(--text-primary);
  background-color: var(--text-primary);
}

.search__inp_bg:focus {
  border: 1px solid var(--text-primary);
}
